<!-- javascript create Category variables =============== -->
<script>
	var secArray = new Array();
	<%
	int i=1;
	for(Category cata : catagories){
		String secArray = CategoryFactory.getInstance().getSecondayCatagoriesToJS(cata);
	%>
		secArray[<%=i%>]="<%=secArray%>";
	<%
		i++;
	}
	%>
</script>

<select id="category1" name="category1" onChange="populateSecCategory('category1', 'category2')"
class="small" style="margin-top: 3px;">
	<option value="">Select Category</option>
	<%
		for ( Category cata : catagories){
			int x=catagories.indexOf(cata)+1;
	%>
	<option value="<%=cata%>"><%=cata%></option>
	<%
		}
	%>
</select>
<select id="category2" name="category2" class="small">
	<option value="">Select Category</option>
</select>

//[START Link Primary and Secondary Categories]
function populateSecCategory(priElemId, secElemId){
	
	var index = document.getElementById( priElemId ).selectedIndex;				
	var stateElement = document.getElementById( secElemId );
			
	stateElement.length=0;
	stateElement.options[0] = new Option('Select Category','');
									
	var state_arr = secArray[index].split("|");

	for (var i=0; i<state_arr.length; i++) {
		stateElement.options[stateElement.length] = new Option(state_arr[i],state_arr[i]);
	}
	stateElement.selectedIndex = 0;
}
//[END]